# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [46]:
# import libraries here
import pandas as pd
import numpy as np
import os
os.getcwd()
from scipy import stats
stats.mode([1,2,3,2,2,1])

ModeResult(mode=array([2]), count=array([3]))

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [2]:
# your answer here

#### Print `temp`

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [7]:
# your answer here

#### Select the rows where state is New York

In [3]:
# your answer here

#### What is the average of the temperature of cities in New York?

In [4]:
# your answer here

#### We want to know cities and states with Temperature above 15 degress Celcius

In [5]:
# your answer here

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [8]:
# your answer here

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [9]:
# your answer here

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [10]:
# your answer here

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [11]:
# your answer here

#### Explore the data types of the Temp dataframe. Comment your results

In [12]:
# your answer here

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [13]:
# your answer here

#### What's the average salary in this company?

In [14]:
# your answer here

#### What's the highest salary?

In [33]:
# your answer here

#### What's the lowest salary?

In [15]:
# your answer here

#### Who are the employees with the lowest salary?

In [16]:
# your answer here

#### Could you give all the information about an employee called David?

In [17]:
# your answer here

#### Could you give only David's salary?

In [18]:
# your answer here

#### Print all the rows where job title is associate

In [19]:
# your answer here

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [20]:
# your answer here- 1 method

In [39]:
# your answer here- 2nd method

True

#### Find the employees who's title is associate and the salary above 55?

In [22]:
# your answer here

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [25]:
# your answer here

####  What is the average Salary per title?

In [23]:
# your answer here

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [26]:
# draw boxplot here

In [27]:
# print first quartile here

In [28]:
# print third quartile here

#### Is the mean salary per gender different?

In [29]:
# your answer here

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [30]:
# your answer here

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [32]:
# your answer here

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [20]:
# your answer here
os.listdir()
df=pd.read_csv('.\\Orders.csv')
# your answer here
os.listdir()
#os.chdir('.\Orders')
#os.listdir()

['Orders.csv']

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [23]:
# your answer here
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,397924.0,278465.221859,152771.368303,0.0,148333.75,284907.50,410079.25,541908.00
InvoiceNo,397924.0,560617.126645,13106.167695,536365.0,549234.00,561893.00,572090.00,581587.00
year,397924.0,2010.934259,0.247829,2010.0,2011.00,2011.00,2011.00,2011.00
month,397924.0,7.612537,3.416527,1.0,5.00,8.00,11.00,12.00
day,397924.0,3.614555,1.928274,1.0,2.00,3.00,5.00,7.00
hour,397924.0,12.728247,2.273535,6.0,11.00,13.00,14.00,20.00
Quantity,397924.0,13.021823,180.420210,1.0,2.00,6.00,12.00,80995.00
UnitPrice,397924.0,3.116174,22.096788,0.0,1.25,1.95,3.75,8142.75
CustomerID,397924.0,15294.315171,1713.169877,12346.0,13969.00,15159.00,16795.00,18287.00
amount_spent,397924.0,22.394749,309.055588,0.0,4.68,11.80,19.80,168469.60

In [ ]:
# your answer here

####  What is the average Purchase Price?

In [ ]:
# your answer here

#### What were the highest and lowest purchase prices?

In [ ]:
# your answer here

In [ ]:
# your answer here

#### Select all the customers we have in Spain

In [ ]:
# your answer here

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
# your answer here

#### Select all the customers who have bought more than 50 items ?

In [34]:
# your answer here
df.Quantity.max()

80995

In [32]:
df[df.Quantity>50]

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
46,46,536371,22086,2010,12,3,9,paper chain kit 50's christmas,80,2010-12-01 09:00:00,2.55,13748,United Kingdom,204.00
83,83,536376,21733,2010,12,3,9,red hanging heart t-light holder,64,2010-12-01 09:32:00,2.55,15291,United Kingdom,163.20
96,96,536378,21212,2010,12,3,9,pack of 72 retrospot cake cases,120,2010-12-01 09:37:00,0.42,14688,United Kingdom,50.40
102,102,536378,85071B,2010,12,3,9,red charlie+lola personal doorsign,96,2010-12-01 09:37:00,0.38,14688,United Kingdom,36.48
174,176,536386,85099C,2010,12,3,9,jumbo bag baroque black white,100,2010-12-01 09:57:00,1.65,16029,United Kingdom,165.00
175,177,536386,85099B,2010,12,3,9,jumbo bag red retrospot,100,2010-12-01 09:57:00,1.65,16029,United Kingdom,165.00
176,178,536387,79321,2010,12,3,9,chilli lights,192,2010-12-01 09:58:00,3.82,16029,United Kingdom,733.44
177,179,536387,22780,2010,12,3,9,light garland butterfiles pink,192,2010-12-01 09:58:00,3.37,16029,United Kingdom,647.04
178,180,536387,22779,2010,12,3,9,wooden owls light garland,192,2010-12-01 09:58:00,3.37,16029,United Kingdom,647.04
179,181,536387,22466,2010,12,3,9,fairy tale cottage nightlight,432,2010-12-01 09:58:00,1.45,16029,United Kingdom,626.40
180,182,536387,21731,2010,12,3,9,red toadstool led night light,432,2010-12-01 09:58:00,1.25,16029,United Kingdom,540.00
215,217,536390,84970S,2010,12,3,10,hanging heart zinc t-light holder,144,2010-12-01 10:19:00,0.64,17511,United Kingdom,92.16
217,219,536390,20668,2010,12,3,10,disco ball christmas decoration,288,2010-12-01 10:19:00,0.10,17511,United Kingdom,28.80
218,220,536390,85123A,2010,12,3,10,white hanging heart t-light holder,64,2010-12-01 10:19:00,2.55,17511,United Kingdom,163.20
219,221,536390,22197,2010,12,3,10,small popcorn holder,100,2010-12-01 10:19:00,0.72,17511,United Kingdom,72.00
222,224,536390,21080,2010,12,3,10,set/20 red retrospot paper napkins,96,2010-12-01 10:19:00,0.64,17511,United Kingdom,61.44
223,225,536390,21094,2010,12,3,10,set/6 red spotty paper plates,96,2010-12-01 10:19:00,0.64,17511,United Kingdom,61.44
225,227,536390,21786,2010,12,3,10,polkadot rain hat,144,2010-12-01 10:19:00,0.32,17511,United Kingdom,46.08
231,233,536390,22969,2010,12,3,10,homemade jam scented candles,96,2010-12-01 10:19:00,1.25,17511,United Kingdom,120.00
232,234,536390,85099B,2010,12,3,10,jumbo bag red retrospot,100,2010-12-01 10:19:00,1.65,17511,United Kingdom,165.00
245,254,536394,22633,2010,12,3,10,hand warmer union jack,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
246,255,536394,22866,2010,12,3,10,hand warmer scotty dog design,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
247,256,536394,22865,2010,12,3,10,hand warmer owl design,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
248,257,536394,22632,2010,12,3,10,hand warmer red retrospot,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
376,385,536403,22867,2010,12,3,11,hand warmer bird design,96,2010-12-01 11:27:00,1.85,12791,Netherlands,177.60
406,415,536405,20914,2010,12,3,11,set/5 red retrospot lid glass bowls,128,2010-12-01 11:32:00,2.55,14045,United Kingdom,326.40
673,683,536416,21915,2010,12,3,11,red harmonica in box,72,2010-12-01 11:58:00,1.25,13255,United Kingdom,90.00
718,728,536437,21154,2010,12,3,12,red retrospot oven glove,200,2010-12-01 12:12:00,1.06,13694,United Kingdom,212.00
719,729,536437,22189,2010,12,3,12,cream heart card holder,72,2010-12-01 12:12:00,3.39,13694,United Kingdom,244.08
720,730,536437,17021,2010,12,3,12,namaste swagat incense,600,2010-12-01 12:12:00,0.24,13694,United Kingdom,144.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397113,540064,581457,23542,2011,12,4,18,wall art 70's alphabet,120,2011-12-08 18:43:00,6.67,18102,United Kingdom,800.40
397114,540065,581457,23531,2011,12,4,18,wall art big love,120,2011-12-08 18:43:00,4.76,18102,United Kingdom,571.20
397115,540066,581457,23535,2011,12,4,18,wall art bicycle safety,126,2011-12-08 18:43:00,3.90,18102,United Kingdom,491.40
397116,540067,581457,23530,2011,12,4,18,wall art only one person,126,2011-12-08 18:43:00,3.57,18102,United Kingdom,449.82
397117,540068,581457,23526,2011,12,4,18,wall art dog licence,126,2011-12-08 18:43:00,3.90,18102,United Kingdom,491.40
397118,540069,581457,23401,2011,12,4,18,rustic mirror with lace heart,126,2011-12-08 18:43:00,4.15,18102,United Kingdom,522.90
397119,540070,581458,22197,2011,12,4,18,popcorn holder,1500,2011-12-08 18:45:00,0.72,17949,United Kingdom,1080.00
397120,540071,581459,22197,2011,12,4,18,popcorn holder,1200,2011-12-08 18:46:00,0.72,17949,United Kingdom,864.00
397155,540122,581467,21167,2011,12,4,19,white sage incense,75,2011-12-08 19:24:00,0.21,13077,United Kingdom,15.75
397330,540300,581476,23167,2011,12,5,8,small ceramic top storage jar,96,2011-12-09 08:48:00,0.69,12433,Norway,66.24
397336,540306,581476,22998,2011,12,5,8,travel card wallet keep calm,72,2011-12-09 08:48:00,0.42,12433,Norway,30.24
397344,540314,581476,22693,2011,12,5,8,grow a flytrap or sunflower in tin,192,2011-12-09 08:48:00,1.06,12433,Norway,203.52
397351,540321,581476,22197,2011,12,5,8,popcorn holder,100,2011-12-09 08:48:00,0.72,12433,Norway,72.00
397371,540341,581476,16014,2011,12,5,8,small chinese style scissor,60,2011-12-09 08:48:00,0.42,12433,Norway,25.20
397372,540342,581476,16008,2011,12,5,8,small folding scissor(pointed edge),240,2011-12-09 08:48:00,0.12,12433,Norway,28.80
397380,540350,581476,72232,2011,12,5,8,feng shui pillar candle,144,2011-12-09 08:48:00,0.19,12433,Norway,27.36
397448,540418,581482,23251,2011,12,5,9,vintage red enamel trim mug,96,2011-12-09 09:08:00,1.04,17490,United Kingdom,99.84
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60
397454,540425,581485,20749,2011,12,5,9,assorted colour mini cases,84,2011-12-09 09:38:00,6.35,17389,United Kingdom,533.40
397471,540442,581487,21137,2011,12,5,9,black record cover frame,120,2011-12-09 09:44:00,3.39,15694,United Kingdom,406.80
397563,541545,581501,22319,2011,12,5,10,hairclips forties fabric assorted,180,2011-12-09 10:46:00,0.19,12985,United Kingdom,34.20
397572,541554,581501,22544,2011,12,5,10,mini jigsaw spaceboy,96,2011-12-09 10:46:00,0.19,12985,United Kingdom,18.24
397586,541568,581501,22545,2011,12,5,10,mini jigsaw bunnies,96,2011-12-09 10:46:00,0.19,12985,United Kingdom,18.24
397622,541604,581514,17091J,2011,12,5,11,vanilla incense in tin,66,2011-12-09 11:20:00,0.38,17754,United Kingdom,25.08
397630,541612,581514,21705,2011,12,5,11,bag 500g swirly marbles,84,2011-12-09 11:20:00,0.39,17754,United Kingdom,32.76
397720,541702,581566,23404,2011,12,5,11,home sweet home blackboard,144,2011-12-09 11:50:00,3.26,18102,United Kingdom,469.44
397721,541703,581567,21417,2011,12,5,11,cockle shell dish,84,2011-12-09 11:56:00,0.79,16626,United Kingdom,66.36
397729,541711,581567,21326,2011,12,5,11,aged glass silver t-light holder,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.20
397761,541746,581571,23167,2011,12,5,12,small ceramic top storage jar,96,2011-12-09 12:00:00,0.69,15311,United Kingdom,66.24
397882,541867,581584,20832,2011,12,5,12,red flock love heart photo frame,72,2011-12-09 12:25:00,0.72,13777,United Kingdom,51.84

#### Select orders from Spain that are above 50 items

In [ ]:
# your answer here

#### Select all free orders

In [ ]:
# your answer here

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
# your answer here

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
# your answer here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your answer here

#### Select all orders made in the month of August

In [ ]:
# your answer here

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
# your answer here

#### What's the  average amount of money spent by country

In [ ]:
# your answer here

#### What's the most expensive item?

In [ ]:
# your answer here

#### What was the average amount spent per year ?

In [ ]:
# your answer here